@define-color bg #001b32;
@define-color 1 #d3c998;
@define-color 2 #bfb987;
@define-color 3 #b0ae7d;
@define-color 4 #9f9476;
@define-color 5 #c2b070;
@define-color 6 #e2d9a9;
@define-color 7 #d5cc9f;
@define-color 8 #d3c998;
@define-color 9 #bfb987;
@define-color 10 #b0ae7d;
@define-color 11 #c2b070;
@define-color 12 #ffffec;
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 2px;
}

window#waybar {

    background-color: rgba(26,26,25,0.9);

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
}


#workspaces button {
    padding: 0 3px;
    color: @1;
    margin: 0px 0px;
}

#workspaces button:hover {
    padding: 0 3px;
    color: rgb(52, 24, 32);

    background-color: @6;
    margin: 0px 0px;

}

#workspaces button.focused {
    box-shadow: inset 0 -3px @3;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock
{
    padding: 4px;
    
    color: @1;
    border: 0px solid @1;
}
#battery {
    padding: 4px;
    color: @2;
    border: 0px solid @2;

}
#cpu{
    padding: 4px;
    color: @3;
    border: 0px solid @3;
}
#memory{
    padding: 4px;
    color: @4;
    border: 0px solid @4;

}


#disk {
    padding: 4px;
    color: @5;
    border: 0px solid @5;

}

#temperature {
    padding: 4px;
    color: @6;
    border: 0px solid @6;

}
#backlight
{
    padding: 4px;
    color: @7;
    border: 0px solid @7;

}
#network
{
    padding: 4px;
    color: @8;
    border: 0px solid @8;

}


#custom-hcu{
    padding: 4px;
    color: @10;
    border: 0px solid @10;

}

#custom-updates{
    padding: 4px;
    color: @11;
    border: 0px solid @10;

}



#pulseaudio{
    padding: 4px;
    color: @9;
    border: 0px solid @9;

}
#wireplumber,
#custom-media,
#tray,
#battery1,
#mode,
#clock,
#idle_inhibitor,
#scratchpad,
#custom-hcu,
#mpd {
    padding: 0px;
    border-radius: 0px;
}

#window,
#workspaces {
    margin: 0 4px;
  animation-name: funnyText;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;   
  border-color: @bg;
    border-radius: 0px;
}



#battery.warning {
	
	 animation-name: funnyText;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  


}

#battery.charging {
	
	 animation-name: funnyText2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;   

 color: rgba(22, 11, 52,0.7);
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#custom-spacer{
font-size: 25px;
color: @12;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    
    background-color: rgba(22, 11, 52,0.6);
}


#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}



@keyframes funnyText {
  0% {
    color: @1;
  }
  11% {
    color: @2;
  }
  22% {
    color: @3;
  }
  33% {
    color: @4;
  }
  44% {
    color: @5;
  }
  55% {
    color: @6;
  }
  66% {
    color: @7;
  }
  77% {
    color: @8;
  }
  88% {
    color: @9;
  }

  100% {
  color: @1;
  }
}





@keyframes funnyText2 {
  0% {
    background-color: @1;
  }
  11% {
    background-color:  @2;
  }
  22% {
    background-color:  @3;
  }
  33% {
    background-color: @4;
  }
  44% {
    background-color: @5;
  }
  55% {
    background-color: @6;
  }
  66% {
    background-color: @7;
  }
  77% {
    background-color:  @8;
  }
  88% {
 	background-color:  @9;
  }

  100% {
  background-color:  @1;
  }
}
